body {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.app {
  background-color: #0b2027;
  display: flex;
  flex-direction: column;
}

.todo-list {
  background-color: #0b2027;
  font-family: "Space Mono", monospace;
  padding: 1rem;
  display: flex;
  margin: 0 auto;
  min-height: 90dvh;
  flex-direction: column;
  width: 80%;
}

.title {
  border-bottom: 1px solid rgba(246, 241, 209, 0.5);
  font-size: 2rem;
  font-family: "BioRhyme", serif;
  color: #f6f1d1;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-input,
.form-button {
  white-space: nowrap;
  font-weight: 600;
  padding: 0.75rem;
  font-size: 0.75rem;
  border-radius: 9px;
}

.form-input {
  width: 100%;
  outline: none;
  background-color: #f6f1d1;
  border-color: rgba(255, 255, 255, 0.1);
}

.form-button {
  border: 1px;
  background: #f6f1d1;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
}

.form-button:hover {
  color: #f6f1d1;
  background: rgba(246, 241, 209, 0.1);
}

body {
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
}

.form-button {
  border: 1px;
  background: #f6f1d1;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
}
.form-button:hover {
  color: #f6f1d1;
  background: rgba(246, 241, 209, 0.1);
}

.list {
  padding: 0;
  list-style: none;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 25px;
}

.task {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f6f1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 0.4rem;
  border-radius: 9px;
  gap: 9px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.check-button,
.delete-button {
  background-color: #f6f1d1;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.6rem;
  font-weight: 600;
}

.task.done .check-button {
  background-color: #46494c;
  color: #f6f1d1;
}

.check-icon {
  display: block;
  padding: 1px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.task.done .check-icon {
  background-color: #0b2027;
}

.content {
  word-break: break-all;
}

.task.done .content {
  text-decoration: line-through;
}

.delete-button {
  background-color: #024760;
  color: white;
  margin-left: 0.4rem;
}

footer {
  text-align: center;
  color: rgb(246, 241, 209);
  border-top: #024760 solid 1px;
}

/* @media screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .check-button,
  .delete-button {
    padding: 0.5rem;
  }
}
 */
